.centered_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
}

.row_alignment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.yesButton {
  border: black solid 1px;
  color: black;
  border-radius: 5px;
  background-color: chartreuse;
  margin: 5px;
  min-width: 200px;
}

.noButton {
  border: black solid 1px;
  color: black;
  border-radius: 5px;
  background-color: red;
  margin: 5px;
  font-size: 26px;
  min-width: 200px;
  max-height: 35px;
}

h1 {
  text-align: center;
}