<div class="centered_div">
  @if ( yesButtonPressed() ) {
  <img
    ngSrc="https://media.tenor.com/gUiu1zyxfzYAAAAi/bear-kiss-bear-kisses.gif"
    height="300"
    width="300"
    priority
  />
  <h1>Woop woop!</h1>
  } @else {
  <img
    ngSrc="https://gifdb.com/images/high/cute-love-bear-roses-ou7zho5oosxnpo6k.gif"
    height="283"
    width="350"
    priority
  />
  <h1>Will you be my Valentine?!?!</h1>
  <div class="row_alignment">
    <button
      [ngStyle]="{ 'font-size': calculateFontSize() }"
      class="yesButton"
      (click)="yesButtonClicked()"
    >
      Yes
    </button>
    <button class="noButton" (click)="noButtonClicked()">
      {{ getNoText() }}
    </button>
  </div>
  }
</div>
